<h2>Provider Already In Use</h2>
<table>
    <tr>
        <th>S.No</th>
        <th>Provider</th>
        <th>Amount per KWH</th>
    </tr>
    <tr *ngIf="alreadyUsed != undefined">
        <th>1</th>
        <th>{{ alreadyUsed.name }}</th>
        <th>{{ alreadyUsed.amountPerKwh }}</th>
    </tr>
    <tr *ngIf="alreadyUsed === undefined">
        <td colspan="5">Choose the provider</td>
    </tr>
</table>
<h2>Other Providers</h2>
<table>
    <tr>
        <th>S.No</th>
        <th>Provider</th>
        <th>Amount per KWH</th>
        <th>Switch</th>
    </tr>
    <tr *ngFor="let provider of providers; let i = index">
        <th> {{ i + 1 }} </th>
        <th>{{ provider.name }}</th>
        <th>{{ provider.amountPerKwh }}</th>
        <th>
            <img src="https://img.icons8.com/external-solidglyph-m-oki-orlando/2x/external-Tick-basic-ui-solidglyph-m-oki-orlando.png" alt=""(click)="switchProvider(i)"></th>
    </tr>
    <tr *ngIf="providers.length === 0">
        <td colspan="5">None of the providers found</td>
    </tr>
</table>
