fieldset{
    display: inline-block;
    justify-content: center;
    margin: auto;
}

.form{
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

div{
    padding: 10px;
}

label{
    display: inline-block;
    width: 100px;
    height: 40px;
    
}

legend{
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

button{
    width: 100px;
}

.button{
    display: flex;
    justify-content: center;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}