<div class="center">
    <fieldset>
        <legend><h2>Provider Details</h2></legend>
        <br>
        <label>Provider name</label>
        <input type="text" [(ngModel)]="name">
        <br>
        <label>Amount per kwh</label>
        <input type="text" [(ngModel)]="amount">
        <br>
        <div class="grid">
            <button routerLink="/displayadmin"><div>Back</div></button>
            <button (click)="create()"><div>Create</div></button>
        </div>
        <br>
    </fieldset> 
</div>