<div class="center">
    <fieldset>
        <legend><h2>Add {{ type }}</h2></legend>
        <br>
        <div *ngIf="type === 'User'">
            <label>Name</label>
            <input type="text" [(ngModel)]="name">
        </div>
        <label>Mail Id</label>
        <input type="text" [(ngModel)]="mail">
        <br>
        <label>Password</label>
        <input type="text" [(ngModel)]="password">
        <br>
        <div class="grid">
            <button routerLink="/displayadmin/viewProviders"><div>Back</div></button>
            <button (click)="create()"><div>Create</div></button>
        </div>
        <br>
    </fieldset> 
</div>
