label{
    display: inline-block;
    width: 200px;
    height: 40px;
    text-align: left;
    padding-left: 10px;
}

.center{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.grid{
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 20px;
    justify-content: space-evenly;
    padding-top: 15px;
}

button{
    background-color: white;
    border-color: black;
    padding: 5px;
    width: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

fieldset{
    border: 2px solid black;
    text-align: center;
}