<div class="center">
    <fieldset>
        <legend><h2>Add Reading</h2></legend>
        <br>
        <label>Reading</label>
        <input type="text" [(ngModel)]="reading">
        <br>
        <div class="grid">
            <button (click)="back()"><div>Back</div></button>
            <button (click)="addReading()"><div>Create</div></button>
        </div>
        <br>
    </fieldset> 
</div>