<div class="center">
    <table>
        <tr>
            <th>S.No</th>
            <th>Provider</th>
            <th>Amount per KWH</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let provider of providers; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ provider.name }}</td>
            <td>{{ provider.amountPerKwh }}</td>
            <td *ngIf="provider.enabled">Enabled</td>
            <td *ngIf="!provider.enabled">Disabled</td>
            <td *ngIf="provider.enabled"><img src="https://img.icons8.com/external-prettycons-solid-prettycons/344/external-on-essentials-prettycons-solid-prettycons.png" (click)="action(i)"></td>
            <td *ngIf="!provider.enabled"><img src="https://img.icons8.com/external-prettycons-solid-prettycons/344/external-off-essentials-prettycons-solid-prettycons.png" (click)="action(i)"></td>
    
        </tr>
    </table>
</div>
