
<div class="center">
    <table>
        <tr>
            <th>S.No</th>
            <th>Mail Id</th>
        </tr>
        <tr *ngFor="let admin of admins; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ admin.mail }}</td>
        </tr>
    </table>
</div>