<div class="center">
    <table>
        <tr>
            <th>S.No</th>
            <th>Smart Meter Id</th>
            <th>Smart Meter Holder</th>
            <th>Smart Meter Provider</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let smartMeter of smartMeters; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ smartMeter.smartMeterId }}</td>
                <td>{{ smartMeter.holder }}</td>
                <td>{{ smartMeter.provider }}</td>
                <td><div class="div"><img src="https://img.icons8.com/material/24/000000/checked-user-male--v1.png" (click)="actionEnroll(i)"><img src="https://img.icons8.com/material/24/000000/delete-user-male.png" (click)="actionReject(i)"></div></td>   
        </tr>
        <tr *ngIf="smartMeters.length === 0">
            <td colspan="5">None of the users entered newly</td>
        </tr>
    </table>
</div>