<div class="center">
    <fieldset>
        <legend><h2>Add Smart Meter</h2></legend>
        <br>
        <label>SmartMeterId</label>
        <input type="text" [(ngModel)]="smartMeterId">
        <br>
        <label>Providers</label>
        <select #select>
            <option *ngFor="let provider of providers" value=" {{ provider }}">
                 {{ provider }}
            </option>
        </select>
        <div class="grid">
            <button (click)="back()"><div>Back</div></button>
            <button (click)="create(select.value)"><div>Create</div></button>
        </div>
        <br>
    </fieldset> 
</div>