.sidebar{
    padding-left: 10px;
    justify-content: left;
    align-items: center;
    height: 75vh;

}

.divideTwo{
    display: grid;
    grid-template-columns: 22% 78%;
    grid-template-rows: 100%;
    padding: 0;
    height: max-content;
}

button{
    background-color: white;
    border: 0px;
    text-align: left;
    cursor: pointer;
    color: grey;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.button-img{
    display: flex;
    justify-content: left;
    align-items: center;
}

.grid-items{
    border: 1px solid rgb(228, 224, 224);
}
