<div class="center">
    <table>
        <tr>
            <th>S.No</th>
            <th>Smart Meter Id</th>
            <th>Smart Meter Holder</th>
            <th>Provider</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let smartMeter of smartMeters; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ smartMeter.smartMeterId }}</td>
            <td>{{ smartMeter.holder }}</td>
            <td>{{ smartMeter.provider }}</td>
            <td>{{ smartMeter.status }}</td>
            <td *ngIf="smartMeter.status === 'Enabled'"><img src="https://img.icons8.com/external-prettycons-solid-prettycons/344/external-on-essentials-prettycons-solid-prettycons.png" (click)="action(i, 'Disabled')"></td>
            <td *ngIf="smartMeter.status === 'Disabled'"><img src="https://img.icons8.com/external-prettycons-solid-prettycons/344/external-off-essentials-prettycons-solid-prettycons.png" (click)="action(i, 'Enabled')"></td>
    
        </tr>
    </table>
</div>