<table>
    <tr>
        <th>S.No</th>
        <th>Readings</th>
    </tr>
    <tr *ngFor="let reading of readings; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ reading }}</td>
    </tr> 
</table>
<br>
<br>
<div class="center">
    <button (click)="navigateBack()">Back</button>
</div>
