table {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 5px 5px gray;
    border-collapse: collapse;
    margin-top: 20px;
}
    

td{
    border: 1px solid lightGray;
    padding: 10px;
    text-align: center;
    width: max-content;
}
    

th {
    border: 1px solid lightGray;
    padding: 10px;
    text-align: center;
    height: 40px;
    color:  black;
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
}
   

tr:nth-child(even) {
    background-color: #f3f3f3;
}
    

tr:nth-child(odd) {
    background-color: rgb(229, 231, 231);
}

.center{
    display: flex;
    justify-content: center;
}

img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

button{
    background-color: white;
    padding: 5px;
    width: auto;
    display: flex;
    justify-content: center;
    border: 0.5px solid black;
    cursor: pointer;
    margin-top: 50px;
    margin-right: 20px;
}

p{
    cursor: pointer;
}


.button{
    display: flex;
    justify-content: right;
}

