<div class="center">
    <table>
        <tr>
            <th>S.No</th>
            <th>Smart Meter Id</th>
            <th>Holder Name</th>
            <th>Provider</th>
            <th>Status</th>
            <th>TotalKWH</th>
            <th>View Readings</th>
            <th>Amount</th>
            <th>Switch Provider</th>
            <th>Add Reading</th>
            
        </tr>
        <tr *ngFor="let smartMeter of smartMeters; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ smartMeter.smartMeterId }}</td>
            <td>{{ smartMeter.holder }}</td>
            <td>{{ smartMeter.provider }}</td>
            <td>{{ smartMeter.status }}</td>
            <td>{{ smartMeter.totalKWH }}</td>
            <td>
                <img src="https://img.icons8.com/pastel-glyph/2x/view-file--v2.png" alt="" (click)="viewReadings(i)">
            </td>
            <td>
                    <img *ngIf="!smartMeter.calculate" src="https://img.icons8.com/ios-filled/2x/calculate.png" alt="" (click)="calculate(i)">
                    <p *ngIf="smartMeter.calculate" (click)="calculate(i)">{{ smartMeter.value }}</p>
            </td>
            <td>
                    <img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/2x/external-switch-arrow-flatart-icons-solid-flatarticons-1.png" alt="" (click)="switchProvider(i)">
            </td>
            <td>
                    <img src="https://img.icons8.com/ios-glyphs/2x/add.png" alt="" (click)="addReading(i)">
            </td>
    
        </tr>
    </table>
</div>
<div class="button">
    <button (click)="addSmartMeter()">Add Smart Meter</button>
</div>
