<div class="main-component-nav">
    <div class="main-component-elements">
        <div>
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUc6BhrvSJv_efnu5DuVxFSZTDdKa--zYnWQ&usqp=CAU"
              class="logo"
            />
          </div>
          <div class="name-element">
            <h1  class="name">Energy Management System</h1>
          </div>
    </div>
    <img src="https://cdn1.iconfinder.com/data/icons/user-pics/512/user_logout-512.png" alt="logout" class="img-element" routerLink="">
  </div>
<router-outlet></router-outlet>