.main-component-nav {
    padding: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: lightGray;
    

}
    
.logo {
    width: 150px;
    height: 100px;
    margin-right: 15px;
}
    
.main-component-elements {
    box-shadow: 5px 5px black;
    background-color: gray;
    display: flex;
    width: auto;
    padding: 10px;

}
    

.name {
    color: white;
}
    

.name-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
    
.img-element {
    position: absolute;
    right: 95px;
    top: 85px;
    width: 35px;
    height: 35px;
}
    


    